<div class="login">
    <div class="form">
      <form class="login-form">
        <span class="material-icons">Registro</span>
        <input type="text" placeholder="Nombre" required />
        <input type="text" placeholder="Apellido" required />
        <input type="text" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <input type="password" placeholder="Contraseña" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>
          <app-form></app-form>
      </form>  
    </div>
  </div>