<div class="wrap">
    
    <!-- Aqui empieza el codigo HTML de los botones de estado. -->
    
    <p>Botones de Inicio</p>
    <a class="css-boton boton-primario" routerLink="/app-ngIF" routerLinkActive="active">
        Mostrar contactos sugeridos === ngIF
    </a>
    
    <a class="css-boton boton-info" routerLink="/app-ngFOR" routerLinkActive="active">
      Imprimir contactos sugeridos === ngFOR
    </a>
    
    <a class="css-boton boton-exito" routerLink="/app-..." routerLinkActive="active">      
        Comunicacion =entre= componentes <!-- //! En construccion -->
    </a>
    <!-- Fin de los botones de estado. -->
  </div>