<div class="login">
    <div class="form">
      <form class="login-form">
        <span class="material-icons">Recuperar Contraseña</span>
        <input type="text" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <textarea name="comentarios" rows="10" cols="40">Escribe aquí tu incidencia</textarea>
        <br>
           <a routerLink="/app-login" routerLinkActive="active"><button>Registrate de nuevo</button></a>
        <br>
      </form>  
    </div>
  </div>