<div class="login">
    <div class="form">
      <form class="login-form">
        <span class="material-icons">Login</span>
        <input type="text" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <input type="password" placeholder="password" required />
        <a routerLink="/app-inicio" routerLinkActive="active"><button>Login</button></a>
        <p class="message">¿Olvidaste la contraseña?<br><a routerLink="/app-contra" routerLinkActive="active">Recuperar contraseña!!!</a></p>
        <p class="message">¿No estas registrado? <br><a routerLink="/app-registro" routerLinkActive="active">Create una cuenta aqui!!!</a></p>
      </form>  
    </div>
  </div>