table{border-collapse:collapse;}
th,tr,td{
	border:1px solid rgb(204, 0, 211);
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
th{
	color:#fff;
	background-color: #52280d;
}

tr:nth-child(odd) td{
	background-color:#eee;
}